/* Primary Colors */
:root {
    /* Base Colors */
    --color-primary: #7ea0c4;
    --color-secondary: #6c757d;
    --color-success: #57d474;
    --color-danger: #dd6c77;
    --color-warning: #d7b25c;
    --color-info: #17a2b8;
    --color-light: #f8f9fa;
    --color-dark: #343a40;
    --color-white: #ffffff;
    --color-black: #000000;

    /* Card Specific Colors */
    --color-username: var(--color-success);
    --color-boot: var(--color-success);
    --color-cpu: #ac0fea;
    --color-cpu-usage: #ca11eb;
    --color-memory: var(--color-success);
    --color-disk: var(--color-success);
    --color-uptime: #f44336;
    --color-network: #f44336;
    --color-speedtest: #08a2a8;
    --color-battery: #007bff;
    --color-connection: #f44336;
    --color-bg-dashboard-memory: var(--color-success);

    /* Shadow Colors */
    --color-shadow: rgba(0, 0, 0, 0.1);

    /* Battery Colors */
    --color-battery-100: linear-gradient(135deg, #76c7c0, #4caf50);
    --color-battery-75: linear-gradient(135deg, #76c7c0, #ffeb3b);
    --color-battery-50: linear-gradient(135deg, #38322a, #3a3732);
    --color-battery-25: linear-gradient(135deg, #58382f, #483b3a);
    --color-battery-0: linear-gradient(135deg, #f44336, #d32f2f);
}

/* General Styles */
body {
    font-family: 'Cabin', sans-serif;
    color: #333;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #e0f7fa; /* Light and soft background color */
}

.content {
    margin: 0 auto; /* Center the content */
    padding: 1rem 4rem;
    border-radius: 8px; /* Rounded corners */
    font-family: 'Arial', sans-serif; /* Font family */
    line-height: 1.6; /* Improve readability */
}

.header {
    background-color: var(--color-dark);
    color: var(--color-white);
    padding: 1.5rem;
    border-radius: 0.5rem;
    margin-bottom: 1.5rem;
}

.header h1 {
    margin: 0;
    font-size: 2.5rem;
}

.navbar {
    background-color: var(--color-white);
    border-bottom: 1px solid #dee2e6;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--color-primary);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.navbar-nav {
    display: flex;
    align-items: center;
}

.nav-item {
    margin-left: 1rem;
}

.nav-link {
    color: #495057;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
}

.nav-link:hover, .nav-link.active {
    color: var(--color-white);
    background-color: var(--color-primary);
    text-decoration: none;
}

.nav-link i {
    font-size: 1.2rem;
}

.navbar-toggler {
    background: linear-gradient(135deg, #e0f7fa, #b2ebf2); /* Light blue gradient background */
    border: none; /* Optional: Remove the default border */
}

.navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg xmlns%3D%22http://www.w3.org/2000/svg%22 viewBox%3D%220 0 30 30%22%3E%3Cpath stroke%3D%22rgba(255, 255, 255, 1.0)%22 stroke-width%3D%222%22 stroke-linecap%3D%22round%22 stroke-miterlimit%3D%2210%22 d%3D%22M4 7h22M4 15h22M4 23h22%22/%3E%3C/svg%3E');
}

/* Responsive adjustments */
@media (max-width: 992px) {
    .navbar-nav {
        margin-top: 0.5rem;
    }
}

@media (max-width: 767.98px) {
    .navbar-nav .nav-link {
        padding: 0.5rem;
    }
}

/* Icon Sizes */
.fas {
    font-size: 1.5rem;
    margin-right: 0.5rem;
}
