{% extends 'base/base.html' %}
{% block title %}Alert Ticket: {{ alert.alert_name }}{% endblock %}

{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/alert_ticket.css') }}">
<script>
    function toggleEdit(id) {
        const element = document.getElementById(id);
        element.style.display = (element.style.display === 'none') ? 'block' : 'none';
    }
</script>
{% endblock %}

{% block content %}
<h1 class="text-center mb-4">
    <span class="bg-danger text-white p-2"><i class="fas fa-shield-alt"></i> {{ title }}</span>
    <span class="text-white bg-warning p-2">Alert Ticket</span>
</h1>
{% include 'ext/message.html' %}

<div class="row">

    <div class="col-md-6">
        <!-- Alert Metadata -->
        <div class="alert-metadata">
            <h2 class="section-title"><i class="fas fa-info-circle"></i> Alert Information</h2>
            <div class="alert-info">
                <p><strong>Alert Name:</strong> {{ alert.alert_name }}</p>
                <p><strong>Instance:</strong> {{ alert.instance }}</p>
                <p><strong>Severity:</strong>
                    <span class="badge badge-{{ alert.severity }}">{{ alert.severity }}</span>
                    {% if current_user.user_level == 'admin' %}
                    <i class="fas fa-edit" onclick="toggleEdit('editSeverity')" style="cursor: pointer;"></i>
                </p>
                <div id="editSeverity" style="display: none;">
                    <form action="{{ url_for('alert_ticket', alert_id=alert.id) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="form_type" value="edit_severity">
                        <select name="severity" class="form-control mb-2">
                            <option value="info" {% if alert.severity=='info' %}selected{% endif %}>Info</option>
                            <option value="warning" {% if alert.severity=='warning' %}selected{% endif %}>Warning
                            </option>
                            <option value="critical" {% if alert.severity=='critical' %}selected{% endif %}>Critical
                            </option>
                        </select>
                        <button type="submit" class="btn btn-primary">Update Severity</button>
                    </form>
                </div>
                {% endif %}
                </p>
                <p><strong>Status:</strong>
                    <span class="badge badge-{{ alert.status | lower }}">{{ alert.status }}</span>
                    {% if current_user.user_level == 'admin' %}
                    <i class="fas fa-edit" onclick="toggleEdit('editStatus')" style="cursor: pointer;"></i>
                <div id="editStatus" style="display: none;">
                    <form action="{{ url_for('alert_ticket', alert_id=alert.id) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="form_type" value="edit_status">
                        <select name="status" class="form-control mb-2">
                            <option value="Open" {% if alert.status=='Open' %}selected{% endif %}>Open</option>
                            <option value="In Progress" {% if alert.status=='In Progress' %}selected{% endif %}>In
                                Progress
                            </option>
                            <option value="Resolved" {% if alert.status=='Resolved' %}selected{% endif %}>Resolved
                            </option>
                            <option value="Closed" {% if alert.status=='Closed' %}selected{% endif %}>Closed</option>
                        </select>
                        <button type="submit" class="btn btn-primary">Update Status</button>
                    </form>
                </div>
                {% endif %}
                </p>
                <p><strong>Description:</strong> {{ alert.description }}
                    {% if current_user.user_level == 'admin' %}
                    <i class="fas fa-edit" onclick="toggleEdit('editDescription')" style="cursor: pointer;"></i>
                <div id="editDescription" style="display: none;">
                    <form action="{{ url_for('alert_ticket', alert_id=alert.id) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="form_type" value="edit_description">
                        <div class="form-group">
                            <label for="description">Edit Description:</label>
                            <textarea class="form-control" name="description"
                                rows="4">{{ alert.description }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Description</button>
                    </form>
                </div>
                {% endif %}
                </p>
                <!-- # <summary></summary> -->
                <p><strong>Summary:</strong> {{ alert.summary }}
                    <!-- update summary as well -->
                    {% if current_user.user_level == 'admin' %}
                    <i class="fas fa-edit" onclick="toggleEdit('editSummary')" style="cursor: pointer;"></i>
                <div id="editSummary" style="display: none;">
                    <form action="{{ url_for('alert_ticket', alert_id=alert.id) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="form_type" value="edit_summary">
                        <div class="form-group">
                            <label for="summary">Edit Summary:</label>
                            <textarea class="form-control" name="summary" rows="4">{{ alert.summary }}</textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Update Summary</button>
                    </form>
                </div>
                {% endif %}
                </p>
                <p><strong>Assigned Investigator:</strong>
                    {{ alert.assigned_user.username if alert.assigned_user else 'Unassigned' }}
                    {% if current_user.user_level == 'admin' %}
                    <i class="fas fa-edit" onclick="toggleEdit('editInvestigator')" style="cursor: pointer;"></i>
                <div id="editInvestigator" style="display: none;">
                    <form action="{{ url_for('alert_ticket', alert_id=alert.id) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="form_type" value="assign_user">
                        <label for="assigned_user">Assign Investigator:</label>
                        <select name="assigned_user_id" class="form-control" onchange="this.form.submit()">
                            <option value="">Unassigned</option>
                            {% for user in users %}
                            <option value="{{ user.id }}" {% if user.id==alert.assigned_user_id %}selected{% endif %}>{{
                                user.username }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                {% endif %}
                </p>
                <p><strong>Assigned Supervisor:</strong>
                    {{ alert.assigned_supervisor.username if alert.assigned_supervisor else 'Unassigned' }}
                    {% if current_user.user_level == 'admin' %}
                    <i class="fas fa-edit" onclick="toggleEdit('editSupervisor')" style="cursor: pointer;"></i>
                <div id="editSupervisor" style="display: none;">
                    <form action="{{ url_for('alert_ticket', alert_id=alert.id) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="form_type" value="assign_supervisor">
                        <label for="assigned_supervisor">Assign Supervisor:</label>
                        <select name="assigned_supervisor_id" class="form-control" onchange="this.form.submit()">
                            <option value="">Unassigned</option>
                            {% for user in admin_users %}
                            <option value="{{ user.id }}" {% if user.id==alert.assigned_supervisor_id %}selected{% endif
                                %}>{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                {% endif %}
                </p>
                <p><strong>Created At:</strong> {{ alert.created_at.strftime('%Y-%m-%d %H:%M:%S') }}</p>
                <p><strong>Last Updated At:</strong> {{ alert.updated_at.strftime('%Y-%m-%d %H:%M:%S') if
                    alert.updated_at else 'N/A' }}</p>


                <!-- Option to delete custom fields -->
                {% if current_user.user_level == 'admin' %}
                {% for customfield in alert.customfields %}
                <p><strong>{{ customfield.field_name }}:</strong> {{ customfield.field_value }}
                    <i class="fas fa-edit" onclick="toggleEdit('editCustomField{{ customfield.id }}')"
                        style="cursor: pointer;"></i>
                    <i class="fas fa-trash"
                        onclick="document.getElementById('deleteCustomField{{ customfield.id }}').submit();"
                        style="cursor: pointer;"></i>
                <form action="{{ url_for('alert_ticket', alert_id=alert.id) }}" method="post"
                    id="deleteCustomField{{ customfield.id }}" style="display: none;">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                    <input type="hidden" name="form_type" value="delete_customfield">
                    <input type="hidden" name="customfield_id" value="{{ customfield.id }}">
                </form>
                <div id="editCustomField{{ customfield.id }}" style="display: none;">
                    <form action="{{ url_for('alert_ticket', alert_id=alert.id) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="form_type" value="edit_customfield">
                        <input type="hidden" name="customfield_id" value="{{ customfield.id }}">
                        <div class="form-group">
                            <label for="field_name">Field Name:</label>
                            <input type="text" name="field_name" class="form-control"
                                value="{{ customfield.field_name }}" required>
                            <label for="field_value">Field Value:</label>
                            <input type="text" name="field_value" class="form-control"
                                value="{{ customfield.field_value }}" required>
                            <button type="submit" class="btn btn-primary mt-2">Update Custom Field</button>
                        </div>
                    </form>
                </div>
                </p>
                {% endfor %}
                <i class="fas fa-plus" onclick="toggleEdit('addCustomField')" style="cursor: pointer;"></i>
                <div id="addCustomField" style="display: none;">
                    <form action="{{ url_for('alert_ticket', alert_id=alert.id) }}" method="post">
                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                        <input type="hidden" name="form_type" value="add_customfield">
                        <div class="form-group">
                            <label for="field_name">Field Name:</label>
                            <input type="text" name="field_name" class="form-control" required>
                            <label for="field_value">Field Value:</label>
                            <input type="text" name="field_value" class="form-control" required>
                            <button type="submit" class="btn btn-primary mt-2">Add Custom Field</button>
                        </div>
                    </form>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-right mb-3">
            <a href="{{ url_for('alert_history') }}" class="btn btn-secondary">All Tickets</a>
        </div>
        <!-- Investigation Notes -->
        {% if current_user.id == alert.assigned_user_id %}
        <div class="notes-section">
            <h2 class="section-title bg-warning text-white"><i class="fas fa-comment"></i> Investigation Notes</h2>
            <form action="{{ url_for('alert_ticket', alert_id=alert.id) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="form_type" value="add_comment">
                <div class="form-group">
                    <label for="investigation_notes">Add Investigation Notes:</label>
                    <textarea class="form-control" name="investigation_notes" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Notes</button>
            </form>
        </div>
        {% endif %}

        <!-- Supervisor Report -->
        {% if alert.assigned_supervisor_id and current_user.id == alert.assigned_supervisor_id %}
        <div class="notes-section">
            <h2 class="section-title bg-info text-white"><i class="fas fa-file-alt"></i> Supervisor Report</h2>
            <form action="{{ url_for('alert_ticket', alert_id=alert.id) }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                <input type="hidden" name="form_type" value="add_comment">
                <div class="form-group">
                    <label for="investigation_notes">Add Investigation Notes:</label>
                    <textarea class="form-control" name="investigation_notes" rows="4"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit Notes</button>
            </form>
        </div>
        {% endif %}
    </div>
</div>

<!-- Report and Investigation Notes -->
<div class="notes-section">
    <h2 class="section-title bg-secondary text-white"><i class="fas fa-history"></i> Report and Investigation Notes
    </h2>
    <ul class="list-group">
        {% for note in investigation_notes.items %}
        <li class="list-group-item">
            <small class="text-muted">{{ note.created_at.strftime('%Y-%m-%d %H:%M:%S') }}: {{ note.user.username
                }}:</small> {{ note.note }}
        </li>
        {% endfor %}
    </ul>

    <!-- Pagination for Investigation Notes -->
    <nav aria-label="Investigation Notes Pagination">
        <ul class="pagination justify-content-center">
            {% if investigation_notes.has_prev %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ url_for('alert_ticket', alert_id=alert.id, notes_page=investigation_notes.prev_num, logs_page=request.args.get('logs_page', 1), logs_per_page=request.args.get('logs_per_page', 10)) }}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for page_num in range(1, investigation_notes.pages + 1) %}
            <li class="page-item {% if page_num == investigation_notes.page %}active{% endif %}">
                <a class="page-link"
                    href="{{ url_for('alert_ticket', alert_id=alert.id, notes_page=page_num, logs_page=request.args.get('logs_page', 1), logs_per_page=request.args.get('logs_per_page', 10)) }}">{{
                    page_num }}</a>
            </li>
            {% endfor %}
            {% if investigation_notes.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ url_for('alert_ticket', alert_id=alert.id, notes_page=investigation_notes.next_num, logs_page=request.args.get('logs_page', 1), logs_per_page=request.args.get('logs_per_page', 10)) }}"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>

<!-- Alert Logs -->
<div class="logs-section">
    <h2 class="section-title bg-secondary text-white"><i class="fas fa-history"></i> Alert Logs</h2>
    <ul class="list-group">
        {% for log in alert_logs.items %}
        <li class="list-group-item">
            <small class="text-muted">{{ log.created_at.strftime('%Y-%m-%d %H:%M:%S') }}:</small> {{ log.log }}
        </li>
        {% endfor %}
    </ul>

    <!-- Pagination for Alert Logs -->
    <nav aria-label="Alert Logs Pagination">
        <ul class="pagination justify-content-center">
            {% if alert_logs.has_prev %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ url_for('alert_ticket', alert_id=alert.id, logs_page=alert_logs.prev_num, notes_page=request.args.get('notes_page', 1), notes_per_page=request.args.get('notes_per_page', 10)) }}"
                    aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            {% endif %}
            {% for page_num in range(1, alert_logs.pages + 1) %}
            <li class="page-item {% if page_num == alert_logs.page %}active{% endif %}">
                <a class="page-link"
                    href="{{ url_for('alert_ticket', alert_id=alert.id, logs_page=page_num, notes_page=request.args.get('notes_page', 1), notes_per_page=request.args.get('notes_per_page', 10)) }}">{{
                    page_num }}</a>
            </li>
            {% endfor %}
            {% if alert_logs.has_next %}
            <li class="page-item">
                <a class="page-link"
                    href="{{ url_for('alert_ticket', alert_id=alert.id, logs_page=alert_logs.next_num, notes_page=request.args.get('notes_page', 1), notes_per_page=request.args.get('notes_per_page', 10)) }}"
                    aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>


{% endblock %}