{% extends 'base/base.html' %}
{% block title %}Update Email & Password{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_alert_rules.css') }}">
{% endblock %}
{% block content %}
<h1>Submit Alert Rule</h1>

{% include 'ext/message.html' %}

<form id="alertRuleForm" action="{{ url_for('new_alert_rule') }}" method="POST">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
    <label for="name">Rule Name:</label>
    <input type="text" id="name" placeholder="Rule Name. Eg: HighCPUUsage" required>

    <label for="alert">Alert:</label>
    <input type="text" id="alert" placeholder="Alert Name. Eg: HighCPUUsageAlert" required>

    <label for="expr">Expression:</label>
    <textarea id="expr" placeholder="PromQL Expression. Eg: sum(rate(node_cpu_seconds_total{mode='idle'}[5m])) by (instance) < 0.5" required></textarea>

    <label for="for">For:</label>
    <input type="text" id="for" placeholder="For Duration. Eg: 5m" required>

    <label for="severity">Severity:</label>
    <input type="text" id="severity" placeholder="Severity. Eg: critical" required>

    <label for="description">Description:</label>
    <textarea id="description" placeholder="Description of the alert rule" required></textarea>

    <label for="summary">Summary:</label>
    <textarea id="summary" placeholder="Summary of the alert rule" required></textarea>

    <button type="submit">Submit Alert Rule</button>
</form>

{% endblock %}