{% extends 'base/base.html' %}
{% block title %}Chart Configurations{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/chart_configurations.css') }}">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="container">
    <h1>Chart Configurations</h1>
    {% include 'ext/message.html' %}
    <form id="chartConfigForm" action="{{ url_for('chart_configurations') }}" method="POST">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <input type="hidden" id="configId" name="config_id" value="">
        <input type="text" name="metric_name" placeholder="Metric Name" required id="metricName">
        <input type="text" name="label" placeholder="Label" required id="label">
        <input type="text" name="title" placeholder="Title" required id="title">
        <input type="text" name="xlabel" placeholder="X-Axis Label" required id="xlabel">
        <input type="text" name="ylabel" placeholder="Y-Axis Label" required id="ylabel">

        <input type="text" name="tension" placeholder="Tension (default: 0.4)" id="tension">
        <input type="number" name="point_radius" placeholder="Point Radius (default: 0)" id="pointRadius">
        <input type="number" name="point_hover_radius" placeholder="Point Hover Radius (default: 6)"
            id="pointHoverRadius">


        <select name="chart_type" id="chartType">
            <option value="line">Line</option>
            <option value="bar">Bar</option>
        </select>

        <button type="submit"><i class="fas fa-plus"></i> Add/Update Configuration</button>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Metric Name</th>
                <th>Label</th>
                <th>Title</th>
                <th>X-Axis</th>
                <th>Y-Axis</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for config in configs %}
            <tr>
                <td>{{ config.id }}</td>
                <td>{{ config.metric_name }}</td>
                <td>{{ config.label }}</td>
                <td>{{ config.title }}</td>
                <td>{{ config.xlabel }}</td>
                <td>{{ config.ylabel }}</td>
                <td>
                    <button class="btn-edit" data-id="{{ config.id }}" data-metric-name="{{ config.metric_name }}"
                        data-label="{{ config.label }}" data-title="{{ config.title }}"
                        data-xlabel="{{ config.xlabel }}" data-ylabel="{{ config.ylabel }}"
                        data-tension="{{ config.tension }}" data-point-radius="{{ config.point_radius }}"
                        data-point-hover-radius="{{ config.point_hover_radius }}"
                        data-chart-type="{{ config.chart_type }}"><i class="fas fa-edit"></i>
                        Edit</button>
                    <button class="btn-delete" data-id="{{ config.id }}"><i class="fas fa-trash"></i> Delete</button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    document.querySelectorAll('.btn-delete').forEach(button => {
        button.addEventListener('click', function () {
            const id = this.getAttribute('data-id');
            if (confirm('Are you sure you want to delete this configuration?')) {
                fetch(`/chart_configurations/${id}`, { method: 'DELETE' })
                    .then(response => {
                        if (response.ok) {
                            location.reload();
                        } else {
                            return response.json().then(err => {
                                alert('Error deleting configuration: ' + err.message);
                            });
                        }
                    })
                    .catch(error => {
                        console.error('Error:', error);
                        alert('An error occurred while trying to delete the configuration.');
                    });
            }
        });
    });

    document.querySelectorAll('.btn-edit').forEach(button => {
        button.addEventListener('click', function () {
            document.getElementById('configId').value = this.getAttribute('data-id');
            document.getElementById('metricName').value = this.getAttribute('data-metric-name');
            document.getElementById('label').value = this.getAttribute('data-label');
            document.getElementById('title').value = this.getAttribute('data-title');
            document.getElementById('xlabel').value = this.getAttribute('data-xlabel');
            document.getElementById('ylabel').value = this.getAttribute('data-ylabel');
            document.getElementById('tension').value = this.getAttribute('data-tension');
            document.getElementById('pointRadius').value = this.getAttribute('data-point-radius');
            document.getElementById('pointHoverRadius').value = this.getAttribute('data-point-hover-radius');
            document.getElementById('chartType').value = this.getAttribute('data-chart-type');
        });
    });


</script>
{% endblock %}