{% extends 'base/base.html' %}
{% block title %}Dashboard Network{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/graphs.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
{% endblock %}
{% block content %}

<h2 class="page-title"><i class="fas fa-chart-line"></i>
    <span class="text-danger m-2"> {{ title }} </span> Metrics
</h2>
<hr>


{% endblock %}
{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/experimental_graphs.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootTime.js')}}"></script>
{% endblock %}