{% extends 'base/base.html' %}
{% block title %}{{title}} - Historical System Metrics{% endblock %}
{% block extra_head %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/graphs.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/alternative_homepage.css') }}">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/moment.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.0.1/dist/chart.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-moment@1.0.0"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<h2 class="page-title"><i class="fas fa-chart-line"></i>
    <span class="text-danger m-2"> {{ title }} </span> Metrics
</h2>
<hr>

<!-- Server Time Section -->
<div class="">
    <div class="section-header d-flex justify-content-between align-items-center">
        <h2><i class="fas fa-clock"></i> Current Server Time & Time Zone</h2>
        <button id="refreshData" class="btn btn-primary"><i class="fas fa-sync-alt"></i> Refresh Graphs</button>
        <!-- chart_configurations button -->
        <a href="{{ url_for('chart_configurations') }}" class="btn btn-primary"><i class="fas fa-cog"></i> Chart
            Configurations</a>
    </div>
    <p id="currentTime">Current Time: </p>
    <p id="timeZoneName">Time Zone: </p>
    <p id="dataretation">Data Retention:</p>
</div>
<hr>

<!-- Time Filter Section -->
{% include 'card_comp/selector/time_filter_selector.html' %}
<div id="chartsContainer"></div>
{% endblock %}

{% block extra_scripts %}
<script src="{{ url_for('static', filename='js/graphs.js')}}"></script>
<script src="{{ url_for('static', filename='js/bootTime.js')}}"></script>
{% endblock %}